body{
    background: rgb(255,0,116);
background: linear-gradient(90deg, rgba(255,0,116,1) 0%, rgba(121,9,88,1) 35%, rgba(205,0,255,1) 100%);
}



h1 {
    color: rgb(255, 0, 234);
   font-size 50px;
   text-align: center;
   text-transform: uppercase;
}

div{
    color: pink;
    font-size: 35px;
    text-align: justify;
}   
